<div align="center">

# Some Stars

⭐ <a href="https://gpt.xnic.top/"  target="_blank">xnic</a>的star列表，每周自动更新 ⭐

</div><br>

## Table of Contents

<% for(let [language, repositories] of stars) { %>
## <%= language %>
  <% for(let repo of repositories) { %>
- [<%= repo.full_name %>](<%= repo.html_url %>) - <%= repo.description ? repo.description.slice(0, 200) : '' %><%= repo.description && repo.description.length > 200 ? '...' : '' %>
  <% } %>
<% } %>
